server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: commandes-route
          uri: lb://MICROSERVICE-COMMANDES
          predicates:
            - Path=/commandes/**

        - id: produits-route
          uri: lb://MICROSERVICE-PRODUIT
          predicates:
            - Path=/produits/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
